/* Esercizio 1 */
.ex-1-square {
    transition: 2s;
    background-color: transparent;
}

.ex-1-square:hover {
    transition: 2s;
    background-color: #f00;
}

/* Esercizio 2 */
.ex-2-square {
    transition: ease-out width 2.5s;
}

.ex-2-square:active {
    transition: ease-in 5s;
    width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
    transition: ease-out 1s;
}

.ex-3-square:hover {
    transition: ease-in 1s;
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
    transition: 2s;
    background-color: #f00;;
}

.ex-4-square:hover {
    transition: 2s;
    background-color: transparent;
}

/* Esercizio 5 */
.ex-5-square {
    transition: transform 2s, transform 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    transition: 2s;
    filter: grayscale(85%) invert(100%);
}

/* Esercizio 8 */
.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    transition: 2s;
    filter: hue-rotate(47deg) grayscale(50%);
    border-radius: 20px;
}

/* Esercizio 9 */
.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    transition: transform 2s, filter 4s, border-radius 1s;
    transform: scale(1.2);
    filter: sepia(40%) hue-rotate(290deg);
    border-radius: 20px;
}

/* Esercizio 10 */
.ex-10-icon {
    animation: ten-spin .6s linear infinite;
}

@keyframes ten-spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* Esercizio 11 */
/* Esercizio 12 */
/* Esercizio 13 */
